PROXY_HOST=0.0.0.0
PROXY_PORT=8080
PROXY_LOG_REQUESTS=true

REDIS_URL=redis://127.0.0.1:6379
REDIS_KEY_PREFIX=mt5
LATEST_TTL_SEC=0
MAX_EVENT_ITEMS=1000
MAX_SNAPSHOT_ITEMS=500
MAX_DEAL_ITEMS=3000

AUTH_MODE=token
AUTH_HEADER_NAME=authorization
AUTH_TOKEN=change-this-token

SIGNATURE_HEADER_NAME=x-ftc-signature
TIMESTAMP_HEADER_NAME=x-ftc-timestamp
SIGNING_SECRET=
MAX_SIGNATURE_AGE_SEC=300

ENABLE_READ_API=true
